@font-face {font-family: 'top secret'; src: url('thirdparty/topsecret.ttf');}

:root {
	color-scheme: light dark;
}

body
{
	--body-bg: #dedede;
	--body-text: #000000;

	--header-bg: #111111;

	--lside-title-bg: #efefef;
	--lside-text: #000000;

	--content-bg: #ffffff;
	--content-title-clr: #000;

	--link-text: #2970a6;
	--border-clr: #cccccc;
	--separator-clr: #cccccc;

	--mark-bg: #eeeeee;
	--mark-text: #000000;

	--pre-bg: #f9f9f9;
	--pre-text: #444444;

	--btn-clr: #2a2a2a;
	--btn-highlight-clr: #5e5e5e;
	--btn-mark-clr: #2f8400;
	--btn-mark-highlight-clr: #468a21;
}

@media (prefers-color-scheme: dark)
{
	body
	{
		--body-bg: #0c0c0c;
		--body-text: #ffffff;

		--header-bg: #0e0e0e;

		--lside-title-bg: #0e0e0e;
		--lside-text: #ffffff;

		--content-bg: #171717;
		--content-title-clr: #ffffff;

		--link-text: #58a6ff;
		--border-clr: #30363d;
		--separator-clr: #30363d;

		--mark-bg: #222222;
		--mark-text: #cccccc;

		--pre-bg: #1c1c1c;
		--pre-text: #cccccc;

		--btn-clr: #2a2a2a;
		--btn-highlight-clr: #5e5e5e;
		--btn-mark-clr: #2f8400;
		--btn-mark-highlight-clr: #468a21;
	}
}

*, *:before, *:after {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

.container {display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; position: relative; margin: 0 auto; max-width: 920px;}

.lside {-webkit-flex: 0 1 20%; flex: 0 1 20%;}
.space {-webkit-flex: 0 1 10px; flex: 0 1 10px; margin: 5px 0;}
.content {-webkit-flex: 1 0 75%; flex: 1 0 75%;}

body, html {height: 100%; background-color: var(--body-bg) !important; color: var(--body-text);}

html {font-family: 'segoe ui', 'calibri', 'ms sans serif', 'sans-serif'; font-size: 14px; font-weight: 400; line-height: 24px; overflow: -moz-scrollbars-vertical; overflow-y: scroll;}

h1, h2 {font-weight: 700; margin: 0; padding: 0;}
h1 {font-size: 24px; margin-bottom: 16px;}
h2 {font-size: 19px; margin-top: 14px; margin-bottom: 10px;}

a:link, a:visited, a:active {color: var(--link-text); text-decoration: none; outline: 0;}
a:hover {color: var(--link-text); text-decoration: underline;}

details summary {color: var(--link-text);}
details summary:hover {color: var(--link-text); text-decoration: underline; cursor: pointer !important;}

img {border: none; outline: none; max-width: 100%; height: auto;}
p {padding: 0; margin: 5px 0;}
blockquote {background-color: var(--mark-bg); margin: 10px 0; padding: 10px;}
pre {background-color: var(--pre-bg); color: var(--pre-text); border: 1px solid var(--border-clr); font-family: 'fira code', 'lucida console', 'monospace', 'consolas', 'courier new', 'arial'; font-size: 0.8em; line-height: 2em; border-radius: 1px; padding: 5px 10px; margin: 15px 0; white-space: pre-wrap; word-wrap: break-word; width: 100%;}
code {background-color: var(--mark-bg); color: var(--mark-text); font-family: 'fira code', 'lucida console', 'monospace', 'consolas', 'courier new', 'arial'; font-size: 0.9em; border-radius: 1px; padding: 2px 5px; margin: 0 2px;}
mark {background-color: var(--mark-bg); color: var(--mark-text); font-family: 'fira code', 'lucida console', 'monospace', 'consolas', 'courier new', 'arial'; font-size: 0.9em; border-radius: 1px; padding: 2px 5px; margin: 0 2px;}

.center {text-align: center; margin: 20px 0;}

ul {list-style: square outside; margin: 0; padding: 0; padding-left: 5px;}
ul li {margin: 0; padding: 0; margin-left: 15px;}

hr {border: none; height: 1px; background-color: var(--separator-clr); margin: 10px 0; margin-top: 15px;}

.header, .footer {background-color: var(--header-bg); color: #fff; border: 1px solid var(--border-clr); width: 100%; padding: 15px; margin: 10px 0;}

.header {display: -webkit-flex; display: flex; -webkit-flex-flow: row nowrap; flex-flow: row nowrap;}
.header .head-title {-webkit-flex: 0 1 100%; flex: 0 1 100%;}
.header .head-nav {display: none; -webkit-flex: 0 0 auto; flex: 0 0 auto;}
.header .head-nav a {display: block; background-image: url('thirdparty/icon.svg'); background-repeat: no-repeat; background-position: center center; padding: 13px;}
.header .head-nav a:hover, .header .head-nav a:focus {opacity: .5;}

.header .head-title h1 {font-family: 'top secret', 'lucida console','impact', 'calibri', 'segoe ui', 'arial'; font-size: 26px; font-weight: bold; text-transform: uppercase; margin: 0; margin-bottom: 10px;}
.header .head-title h1 a:link, .header h1 a:visited {color: #fff;}
.header .head-title h1 a:hover {color: #ccc; text-decoration: underline overline;}
.header .head-title p {margin: 0; padding: 0;}

.footer {padding: 10px; line-height: 22px; margin-bottom: 15px; font-size: 0.9em;}
.footer p {padding: 0; margin: 0;}

.lside .block {background-color: var(--content-bg); border: 1px solid var(--border-clr); padding: 5px 10px;}
.lside .block:not(:last-child) {margin-bottom: 10px;}
.lside .block .title {background-color: var(--lside-title-bg); border-bottom: 1px solid var(--separator-clr); padding: 5px 10px; margin: -5px -10px; margin-bottom: 5px; font-weight: 600;}
.lside .block ul li a:link, .lside .block ul li a:visited {color: var(--lside-text); display: block;}
.lside .block ul li a:hover {color: var(--link-text);}

.content {background-color: var(--content-bg); border: 1px solid var(--border-clr); padding: 10px 15px;}
.content ul {margin: 10px 0; padding-left: 15px;}

.list-item:not(:last-child) {border-bottom: 1px solid var(--separator-clr); margin-bottom: 10px; padding: 5px 0;}
.list-item h2 {margin-top: 0; margin-bottom: 12px;}
.list-item h2 a:link, .list-item h2 a:visited {color: var(--content-title-clr); text-decoration: none;}
.list-item h2 a:hover {color: var(--link-text); text-decoration: none;}
.list-item p {white-space: pre-wrap; margin-top: 8px;}
.list-item .date {background-image: url('/images/date.png'); background-repeat: no-repeat; background-size: 14px; font-size: 0.8em; line-height: 14px; padding: 0 0 0 18px; margin-bottom: 4px;}

.preview {margin: 10px 0; padding-top: 15px;}
.preview img {margin: 0; max-width: 100%;}

.donate-block {display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; flex-flow: row wrap; margin: 10px 0;}

.donate {-webkit-flex: content; flex: content; background-color: var(--btn-clr); line-height: 2.4em; font-size: 1.2em; text-transform: uppercase; margin: 5px; margin-left: 0; margin-bottom: 0;}
.donate a {display: block; color: #fff; height: 100%; padding: 0; padding-left: 10px;}
.donate span {float: right; display: inline-block; background-color: var(--btn-mark-clr); height: 100%; font-weight: bold; text-align: center; margin-left: 10px; padding: 0 10px;}

.donate:hover {background-color: var(--btn-highlight-clr);}
.donate:hover a {text-decoration: none;}
.donate:hover span {background-color: var(--btn-mark-highlight-clr);}

@media only screen and (max-width: 920px)
{
	.container {display: block; width: 100%;}

	.space {display: none;}

	.header {margin: 0; border-left: none; border-right: none; border-top: none;}
	.footer {margin: 0; text-align: center; border-left: none; border-right: none; border-bottom: none;}

	.content {border: none; border-top: 1px solid var(--border-clr); border-bottom: 1px solid var(--border-clr); margin: 0; padding: 10px;}

	.content, .lside {-webkit-flex: 0 1 100%; flex: 0 1 100%;}

	.header .head-nav {display: block;}

	.lside {display: none;}
	.lside.lside-show {display: block;}

	.lside .block {margin-bottom: 0 !important; border: none;}
	.lside .block .title {padding: 5px 10px; margin: -5px -10px; margin-bottom: 5px; border: none;}

	.lside .block, .content {border-left: none; border-right: none;}
}

@media only screen and (max-width: 920px)
{
	.donate {-webkit-flex: 0 1 49%; flex: 0 1 49%}
}

@media only screen and (max-width: 820px)
{
	.donate {-webkit-flex: 0 1 100%; flex: 0 1 100%};
}

@media only screen and (max-width: 350px)
{
	.donate {-webkit-flex: 0 1 100%; flex: 0 1 100%}
}

@media print
{
	.container {display: block; width: 100%;}

	.header, .footer {margin: 10px;}

	.lside {display: none;}
	.space {display: none;}

	.content {margin: 0 10px;}
}
